/*_____________Variáveis_____________*/
:root {
    /* Cores */
    --black: #00030c;
    --white: #fff;
    --gray: #C0C0C0;
    --gray-dark: #666666;
    --pink: #fdb4bf;
    --pink-light: #ffcdd4;

    /* Fontes */
    --font-main: 'Poppins', sans-serif;
    --font-title: 'Impact'
}

/*_____________Geral_____________*/

html {
    font-family: var(--font-main);
    line-height: 1.15;
}

body {
    background-color: var(--white);
    margin: 0;
    color: var(--black);
    font-family: var(--font-main), var(--font-title);
    font-size: 18px;
}

.container {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: left;
    text-align: left;
}

/*_____________Textos_____________*/

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/*_____________Botões_____________*/
.btn {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    padding: 1em;
  }

  .btn_primary {
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
    border: 5px solid var(--white);
    border-radius: 10px;
    padding: 1em;
  }

  .btn_primary:hover {
    background-color: var(--white);
    color: var(--pink);
    transition: 0.5s;
  }

  .btn__secondary {
  background-color: var(--pink-light);
  border: 5px solid transparent;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
  margin-left: 20px;
}

/*_____________Tabela_____________*/
.table {
    display: grid;
    position: relative;
    align-items: flex-start;
    text-align: justify;
    justify-content: center;
    padding: 1em;
  }

/* -------------Rosto------------- */
.face {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 50% 50% 10%;
}

/*          Fotinhu         */
.image__oin {
    height: auto;
    width: 65%;
    border-radius: 50%;
    float: right;
}

/*          Textinhu         */
.text__welcome {
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    margin: 20% 5% 10%;
}

/*      Carolini Simões      */
.text__welcome h1 {
    font-family: var(--font-title);
    color: var(--pink-light);
    font-size: 100px;
    font-weight: 700;
    margin: -5% 0 -3%;
}

/* ------------Contato------------ */
.contact {
    padding: 230px 0px 0px;
    display: grid;
    position: relative;
}

.table-contact {
    display: flex;
    size: 10px 50px 40px;
}

.field {
    padding: 5px;
    width: 100%;
}

.field input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--pink-light);
    border-radius: 1em;
    padding: 1em;
    font-family: var(--font-main);
    font-size: large;
}

.name {
    margin-right: 30px;
}

.field input:hover,
textarea:hover {
    border: 3px solid var(--pink-light);
}