* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url("img/Rosto.png") no-repeat right;
    background-size: 40%;
    background-color: black;
    color: white;
    font-family: 'Poppins';
}

h1 {
    font-size: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto-inicial {
    margin: 10%;
}

span {
    color: salmon;
}

.destaque {
    font-weight: bolder;
}

.container__btn {
    margin: 10px 0px 0px 10%;
}

.btn {
 border: 2px solid salmon;
 border-radius: 15px;
}

